.nova/*
.pio/*
.vscode/*
build/*
libdeps/*
components/*
node_modules/*
partition_table/*
ESP32/DIY-Flow-Bench/.pio/*
ESP32/DIY-Flow-Bench/.nova/*
ESP32/DIY-Flow-Bench/.theia/*
ESP32/DIY-Flow-Bench/build/*
ESP32/DIY-Flow-Bench/redacted/*
TEMP/*
ESP32/DIY-Flow-Bench/sketch.json
ESP32/DIY-Flow-Bench/DIY-Flow-Bench.ino.esp32.bin
ESP32/DIY-Flow-Bench/DIY-Flow-Bench.ino.cpp
ESP32/DIY-Flow-Bench/CMakeLists.txt
dependencies.lock
.DS_Store
*.theia-workspace
*.theia
*.backup
*.elf
*.hex
*.vs
sdkconfig
sdkconfig-defaults
sdkconfig.old
