*.theia-workspace
*.theia
*.backup
*.elf
*.hex
.DS_Store
/GUI/.vs
/GUI/DiyFlowBench.Api/obj
/GUI/DiyFlowBench.Api.Test/obj/Debug/netcoreapp3.1
/GUI/DiyFlowBench.Api.Test/obj
/.vs
.pio/
Arduino/DIY-Flow-Bench/node_modules/*
platformio.ini
