/***********************************************************
* DIY-Flow-Bench style.css
* CSS code for DIY-Flow-bench project: diyflowbench.com
***/


/* Set height of body and the document to 100 percent of viewport height to enable "full page tabs" */
body, html {
  height: 100vh;
  margin: 0;
  font-family: Arial;
  font-size:22px;
  /* 'large triangles' SVG background by SVGBackgrounds.com/ */
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='562' height='468.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");  
}

h4 {
  margin-bottom: 0px;
}

/* Set tabs to 50 percent of viewport width */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 16px;
  font-size: 22px;
  width: 33.3333%;
}

.tablink:active {
  background-color: #777;
}

.tablink:hover {
  background-color: #777;
}

#tabcontainer {
  padding: 100px 20px 20px 20px;

}

/* Style the tab content (and add height:100% of viewport height for full page content) */
.tabcontentMain {
  display:block;
}

.tabcontentConfig {
  display: none;
  margin-bottom: 60px;
}

.tabcontentData {
  display: none;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}

html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
}

.headerbar {
	overflow: hidden;
	background-color: #0A1128;
  text-align: center;
}

.headerbar h1 a:link, .headerbar h1 a:active, .headerbar h1 a:visited, .headerbar h1 a:hover {
  color:white;
  text-decoration: none;
  font-size: 44px;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
	font-size: 26px;
	margin-bottom: 14px;
}

h3 {
  font-size: 20px;
}

p{
  font-size: 1.5rem;
}

a:link  {
  color:#0A1128;
  text-decoration:none;
}

a:visited, a:active {
  color:#0A1128;
  text-decoration:none;
}

a:hover {
  color:#666;
  text-decoration:none;
}

hr {
  clear: both;
  width: 95%;
}

.content {
	padding: 30px;
}

.float-right{
  float:right;
}

.clear-both{
  clear:both;
}

.align-center{
  text-align: center;
}

.clear-both {
  clear:both;
}

.tile-grid {
	max-width: 700px;
	margin: 0 auto;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tile {
	background-color: white;
	box-shadow: 2px 2px 12px 1px #666;
  text-align: center;
}

.tile-title {
	font-size: 1rem;
	font-weight: bold;
	color: #034078;
  cursor: pointer;
}

.tile-value {
	font-size: 2.1rem;
	font-weight: bold;
	color: #333;
}

.pitot-tile-value {
	font-size: 2.1rem;
	font-weight: bold;
	color: ~PITOT_COLOUR~;
}

.differential-tile-value {
	font-size: 2.1rem;
	font-weight: bold;
	color: ~PDIFF_COLOUR~;
}

#FDIFFTYPEDESC, #PDIFF, #PITOT {
  cursor: pointer;
}

.flowTargetVal {
	font-weight: bold;
	font-size: 2.1rem;
	color: #333;
  cursor: pointer;
}

flowTargetValInput {
  font-size: 22px;
}

#tile-pdiff, #aflow-tile, #maf-tile, #tile-swirl, #tile-fdiff, #sflow-tile  {
  display: none;
}


.config-panel {
  max-width: 650px;
  margin: auto auto;
}

.config-row {
  margin-top: 5px;
  margin-top: 5px;
}

.config-label {
  padding-left: 5px;
}

.config-value {
  padding-right: 10px;
  float: right;
}

.config-text {
  width: 200px;
  float: right;
}

.config-select {
  width: 208px;
  float: right;
}

.units {
  font-size: 0.8rem;
  color:#666;
}

.status_message {
  font-size: 1.2rem;
  color:#666;
  margin-bottom: 28px;
}

#footer {
  clear:both;
  text-align: center;
}

.hidden_div {
  display:none;
}

/***
* Buttons
*/

.control-button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 22px;
  margin: 2px;
  cursor: pointer;
  width: 150px;
  height: 70px;
}

.button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 22px;
  margin: 2px;
  cursor: pointer;
  width: 150px;
}

.button-sml {
  float:right;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}

#record-button {
  background-color: #fa7b04;
}

#clear-graph-data-button {
  background-color: #fa7b04;
}

#export-graph-data-button {
  background-color: #2ca909;
}

#load-graph-data-button {
  background-color: #125ab1;
}

#save-graph-data-button {
  background-color: #fa7b04;
}

#calibrate-button{
  background-color: #fa2e04;
}

#clear-message-button {
  background-color: #999;
}

#info-button, #support-button,  #file-manager-button, #restart-button, #update-button {
  width:110px;
  height: 50px;
}


#on-button {
  background-color: #44b112;
}

#off-button {
  background-color: #fa2e04;
}

#delete-button, #restart-button {
  background-color: #fa2e04;
}

#upload-form {
  float:right;
}


.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #666;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  left: -10px;
  top: -5px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100vh;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Modal Dialogs */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  padding-top: 50px;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1px auto; /* 15pcnt from the top and centered */
  padding: 20px;
  border: 1px solid #888;
   width: 850px; 
  border-radius: 5px;
  overflow-y:scroll;
}

.info-modal-content {
  background-color: #fefefe;
  margin: 1px auto; /* 15pcnt from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 850px; 
  height:400px;
  border-radius: 5px;
  overflow-y:scroll;
}

.info-modal {
  font-size: 18px;
}

/* two column layout */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.calibrationModal {
  width:400px;
}

@media screen and (max-width: 800px) {
  .modal-content {
      width: 100vw;
    }
  }

.file-upload-button {
  padding: 12px 0px;
  text-align: center;
}
 
.file-submit-button {
  padding: 12px 0px;
  text-align: center;
  font-size: 15px;
  padding: 6px 6px;
}

.input_container {
  border: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}

/* The Close Button */
.closeInfoModalButton, .closeFileModalButton, .closeCaptureLiftDataModalButton, .closeSaveGraphDataModalButton, .closeLoadGraphDataModalButton, .closeExportGraphDataModalButton, .closeCalibrationModalButton, closeUpdateModalButton, closeFlowTargetModalButton {
  color: #aaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  height:40px;
  width:100%;
}

.closeFlowTargetModalButton:hover,
.closeFlowTargetModalButton:focus,
.closeUpdateModalButton:hover, 
.closeUpdateModalButton:focus,
.closeFileModalButton:hover, 
.closeFileModalButton:focus,
.closeInfoModalButton:hover,
.closeInfoModalButton:focus,
.closeCaptureLiftDataModalButton:hover,
.closeCaptureLiftDataModalButton:focus,
.closeSaveGraphDataModalButton:hover,
.closeSaveGraphDataModalButton:focus,
.closeLoadGraphDataModalButton:hover,
.closeLoadGraphDataModalButton:focus,
.closeCalibrationModalButton:hover,
.closeCalibrationModalButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fileSizeTxt{
  padding:10px;
}

.fileDelLink{
  padding:10px;
  left: 100px;
  cursor: pointer;
}


.file-link {
  cursor: pointer;
}

.fileListRow {
  margin-bottom: 10px;
  /* margin-top: 87px; */
}

.column {
  float: left;
  height: 40px;
}

.left {
  width: 350px;
  height: 40px;
}

.middle {
  width: 200px;
}

.right {
  width: 100px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;  
}



/***
 * Lift Graph
 */

.graph-container {
  margin-top:50px;
  text-align: center;
}

svg.graph {
    height: 600px !important;
    width: 750px !important;
    background-color: #fff;
    padding-top: 100px;
    box-shadow: 2px 2px 12px 1px #666;
    stroke-linejoin: round;
}

svg.graph .grid {
  stroke: grey;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

svg.graph .points {
  /*stroke: white;*/
  stroke-width: 3;
}
svg.graph .first_set {
  fill: #00554d;
}

svg.graph .surfaces {
  fill-opacity: 0.5;
}

svg.graph .grid.double {
  stroke-opacity: 0.4;
}

svg.graph .labels {
  font-family: Arial;
  font-size: 14px;
  kerning: 1;
}

svg.graph .labels.x-labels {
  text-anchor: middle;
}

svg.graph .labels.y-labels {
  text-anchor: end;
}



 .hide {
  display: none;
}
    
.dataCircle:hover + .hide {
  display: block;
  z-index: 999;
}

svg .dataCircle:hover {
  r: 6;
}

.dataCircle {
  position:relative;
  opacity: 0.25;
} 

.dataValue {
  text-anchor: middle;
  font-size: 14px;
  color: black;
  transition: font-size 0.5s, opacity 0.3s;    
}






/***
* TESTS 
*/

.prefTestOK {
  color: lightgreen; 
  font-size: 2.1rem;
  font-weight: bold;
}

.prefTestNOK {
  color: red; 
  font-size: 2.1rem;
  font-weight: bold;
}




/* radio button code */

.switch-field {
	margin-top: 18px;
	margin-bottom: 18px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #989898;
	color: #FFF;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	padding: 8px 8px;
	margin-right: -1px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #44b113;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* This is just for CodePen. */

.form {
	max-width: 600px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding: 16px;
}



#orifice-data {
  font-size: 22px;
  color: #666;
  margin-bottom: 18px;
}

/* radio button code */