/* 
* DIY-Flow-Bench style.css
* 
* NOTE: use of % sizing in this document will break the browser output. This is because of bug #1234 in ESPAsyncWebserver library.
* The fix is easy - change #define TEMPLATE_PLACEHOLDER '%' in WebResponseImpl.h and %TEMPLATE_PLACEHOLDERS% to use '$' instead.
* Unfortunately TEMPLATE_PLACEHOLDER is not exposed as a class method and so the change requires the core hack described above
* We do not want to have to maintain a custom ESPAsyncWebserver library so have rewritten our CSS to avoid using % sizing
* This way our project will function with the vanilla ESPAsyncWebserver library.
* 
* TODO: Look at implimenting flex / flex-wrap - https://polypane.app/blog/4-css-layouts-without-using-media-queries/
***/

/* Set height of body and the document to 100 percent of viewport height to enable "full page tabs" */
body, html {
  height: 100vh;
  margin: 0;
  font-family: Arial;
  font-size:22px;
}

/* Set tabs to 50 percent of viewport width */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 16px;
  font-size: 22px;
  width: 50vw;
}

.tablink:active {
  background-color: #777;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% of viewport height for full page content) */
.tabcontentMain {
  padding: 100px 20px;
  height: 100vh;
}

.tabcontentConfig {
  display: none;
  padding: 100px 20px;
  height: 100vh;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}

html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
}

.headerbar {
	overflow: hidden;
	background-color: #0A1128;
  text-align: center;
}

.headerbar h1 a:link, .headerbar h1 a:active, .headerbar h1 a:visited, .headerbar h1 a:hover {
  color:white;
  text-decoration: none;
}

h1{
  color: #FFF;
}

p{
  font-size: 1.5rem;
}

a:link  {
  color:#0A1128;
  text-decoration:none;
}

a:visited, a:active {
  color:#0A1128;
  text-decoration:none;
}

a:hover {
  color:#666;
  text-decoration:none;
}

hr {
  clear: both;
}

.content {
	padding: 30px;
}

.float-right{
  float:right;
}

.clear-both{
  clear:both;
}

.align-center{
  text-align: center;
}

.clear-both {
  clear:both;
}

.tile-grid {
	max-width: 700px;
	margin: 0 auto;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tile {
	background-color: white;
	box-shadow: 2px 2px 12px 1px #666;
  text-align: center;
}

.tile-title {
	font-size: 1rem;
	font-weight: bold;
	color: #034078
}

.tile-value {
	font-size: 2.1rem;
	font-weight: bold;
	color: #333
}

.config-panel {
  max-width: 650px;
  margin: auto auto;
}

.config-row {
  margin-top: 5px;
  margin-top: 5px;
}

.config-label {
  padding-left: 5px;
}

.config-value {
  padding-right: 50px;
  width: 300px;
  float: right;
}

.config-text {
  width: 200px;
  float: right;
}

.config-select {
  width: 41.5vw;
  float: right;
}

.units {
  font-size: 0.8rem;
  color:#666;
}

.status_message {
  font-size: 1.2rem;
  color:#666;
}

#footer {
  clear:both;
  text-align: center;
}

.hidden_div {
  display:none;
}

/***
* Buttons
*/

.button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 22px;
  margin: 2px;
  cursor: pointer;
  width: 150px;
}

.button-sml {
  float:right;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}

#record-button {
  background-color: #fa2e04;
}

#save-button {
  background-color: #44b112;
}

#calibrate-button{
  background-color: #fa2e04;
}



#info-button, #support-button,  #file-manager-button, #restart-button {
  width:120px;
  height: 50px;
}

#on-button {
  background-color: #44b112;
}

#off-button {
  background-color: #fa2e04;
}

#delete-button, #restart-button {
  background-color: #fa2e04;
}

#upload-form {
  float:right;
}


.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #666;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  left: -10px;
  top: -5px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100vh;
  left: 50vw;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Modal Dialogs */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  padding-top: 50px;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1px auto; /* 15pcnt from the top and centered */
  padding: 20px;
  border: 1px solid #888;
   width: 850px; 
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .modal-content {
      width: 100vw;
    }
  }

.file-upload-button {
  padding: 12px 0px;
  text-align: center;
}

input[type="file"] {
  display: none;
}  
  

/* The Close Button */
.closeInfoModalButton, .closeFileModalButton {
  color: #aaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.closeFileModalButton:hover, 
.closeFileModalButton:focus,
.closeInfoModalButton:hover,
.closeInfoModalButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fileSizeTxt{
  padding:10px;
}

.fileDelLink{
  padding:10px;
  left: 100px;
  cursor: pointer;
}


.file-link {
  cursor: pointer;
}

.fileListRow {
  margin-bottom: 10px;
  /* margin-top: 87px; */
}

.column {
  float: left;
  height: 40px;
}

.left {
  width: 350px;
  height: 40px;
}

.middle {
  width: 200px;
}

.right {
  width: 100px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;  
}



/***
 * Lift Graph
 */

.graph-container {
  margin-top:50px;
  text-align: center;
}

svg.graph {
    height: 500px;
    width: 800px;
}

svg.graph .grid {
  stroke: grey;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

svg.graph .points {
  stroke: white;
  stroke-width: 3;
}
svg.graph .first_set {
  fill: #00554d;
}

svg.graph .surfaces {
  fill-opacity: 0.5;
}

svg.graph .grid.double {
  stroke-opacity: 0.4;
}

svg.graph .labels {
  font-family: Arial;
  font-size: 14px;
  kerning: 1;
}

svg.graph .labels.x-labels {
  text-anchor: middle;
}

svg.graph .labels.y-labels {
  text-anchor: end;
}




/***
* TESTS 
*/

.prefTestOK {
  color: lightgreen; 
  font-size: 2.1rem;
  font-weight: bold;
}

.prefTestNOK {
  color: red; 
  font-size: 2.1rem;
  font-weight: bold;
}